body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.container {

  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 8vh;
  background: linear-gradient(159deg, #38222e -8%, #2a2e38 117%);;
  display: flex;
  flex-direction: row;
  font-size: 18pt;
  padding-right: 60px;
}

.logo {
  width: 20vw;
  height: 8vh;
  font-size: 20pt;
  font-weight: 900;
  color: lightseagreen;
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-image {
  width: 90px;
  height:60px;
  margin-left: 25px;
  margin-right: 25px;
}

.main-menu-item {
  width: 10vw;
  height: 8vh;
  margin-top: 5px;
  display: flex;
}

.main-menu-button {
  width: 8vw;
  height: 6vh;
  background-color: #38222e;
  color: #d8cfd1;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  box-shadow: 7px 7px 8px rgba(246,220,234,0.3);
}

.main-menu-button:hover {
  background-color: #2a2e38;
  color: lightseagreen;
  box-shadow: 2px 2px 18px rgba(220,234,246,0.84);
}

.main-menu-item-small {
  width: 5vw;
  color: lightseagreen;
  height: 8vh;
  display: flex;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.columns {
  position: absolute;
  width: 100vw;
  height: 90vh;
  color: lightskyblue;
  top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.main-column {
  background: linear-gradient(159deg, #2e2e38 -8%,#2e382e 117%);
  width: 85vw;
  height: 92vh;
  align-items: center;

  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 15px;
}

.right-column {
  width: 14vw;
  position: absolute;
  left: 86vw;
  height: 92vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  display: block;
  background: linear-gradient(79deg, #2e382e -8%,#2e2e38 117%);
}

.right-menu-item {
  background-color: #685f47;
  border: 1px solid rosybrown;
  height: 30px;
  padding-top: 8px;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

.content-bar {
  margin-right: 25px;
  padding-left: 35px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: flex-start;
}

.hide {
  display: none;
}

.gabriola {
  font-family: "GABRIOLA";
}

.main-page-wrapper {
    background-color: #6F5922;
    box-shadow: 7px 7px 8px rgba(234,246,220,0.3);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 125px;
}

.box-shadow-info {
  background-color: #229B64;
  color: #EFEF81;
  box-shadow: 7px 7px 8px rgba(234,220,246,0.25);
  padding: 15px 60px 15px 60px;
  margin: 20px 52px 20px 52px;
  font-family: 'Lucida console';
  font-size: 18px;
  border-radius: 70px;
}

.box-shadow-div {
  background-color: #22649B;
  color: #EF8181;
  box-shadow: 7px 7px 8px rgba(234,220,246,0.25);
  padding: 15px 60px 15px 60px;
  margin: 20px 150px 20px 150px;
  font-family: 'Lucida console';
  font-size: 18px;
  border-radius: 35px;
}

.box-shadow-div a {
  text-decoration: none;
}

.image-cards-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  padding: 5px 25px 5px 25px;
  margin: 5px 5px 5px 5px; 
}

.image-card-buttons {
  margin: 1px 3px 1px 3px;
}

.image-card-button {
  margin: 2px 7px 2px 7px;
  background-color: #2a2e38;
  color: #d8cfd1;
}